.page-menu {
    padding: 10px;
    width: 100px;
    background: lightblue;
    margin: 5px;
    border-radius: 3px;
}

.page-menu:hover {
    cursor: pointer;
    background: rgb(209, 232, 240);
}

table, tr, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.form-box {
    width: 500px;
    clear: both;
}

.form-box input {
    width: 100%;
    clear: both;
    margin: 3px;
}

.error-msg {
    margin: 10px;
    color: rgb(188, 13, 13);
}

.success-msg {
    margin: 10px;
    color: green;
}