.page-menu {
    padding: 5px;
    width: 500px;
    border: 2px solid lightblue;
}

.page-menu:hover {
    cursor: pointer;
}

table, tr, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}